/* app */

body {
    margin: 0;
}


/* Loading */

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loading {
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: flex;
  font-size: 21px;
  height: 0;
  justify-content: center;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
}

.loading--visible {
  height: 100vh;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.loading > svg {
    animation: spin 2s infinite linear;
    width: 100px;
}


/* App */

.app {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    position: relative;
}

.content {
    width: 100vw;
}

.content:after {
    background-color: rgba(0, 0, 0, 0.8);
    content: '';
    display: block;
    height: 0vh;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
}


/* current weather */

.current-weather {
  background: black no-repeat center;
  background-size: cover;
  box-sizing: border-box;
  color: white;
  font-size: 1.5rem;
  min-height: 50vh;
  padding-bottom: 10vw;
  position: relative;
}

.current-weather:before {
  background-color: rgba(0, 0, 0, 0.5);
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}

.current-weather__wave {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.current-weather h1 {
  margin: 0;
}

.current-weather__header {
  text-align: right;
}
.current-weather__header__icon {
  fill: white;
  height: 20px;
}
.current-weather__header__button {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  padding: 5px;
}

.current-weather__container {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  color: white;
  padding: 4rem 6rem;
}

.current-weather__grid {
  align-items: center;
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
          'date'
          'location'
          'forecast';
  text-align: center;
}
@media screen and (min-width: 768px) {
  .current-weather__grid {
    grid-template-areas:
            'location date'
            'forecast -';
    text-align: left;
  }
}

.current-weather__location {
  grid-area: location;
  font-size: 2em;
  line-height: 1em;
}

.current-weather__date {
  grid-area: date;
}
@media screen and (min-width: 768px) {
  .current-weather__date {
    text-align: right;
  }
}

.current-weather__forecast {
  grid-area: forecast;
}

.current-weather__temperature {
  align-items: flex-start;
  display: inline-flex;
  justify-content: center;
  font-size: 5em;
  line-height: 1em;
}
@media screen and (min-width: 768px) {
  .current-weather__temperature {
    justify-content: flex-start;
  }
}

.current-weather__temperature {
  display: flex;
}

.current-weather__temperature__icon {
  width: 0.5em;
}

.current-weather__temperature__symbol {
  font-size: 0.3em;
  line-height: 1em;
  margin-top: 0.75em;
}

/* weather forecast */
.weather-forecast {
    box-sizing: border-box;
    min-height: 50vh;
    padding: 20px;
}

.weather-forecast__container {
    margin-inline: auto;
    max-width: 65rem;
    text-align: center;
    overflow-x: scroll;
}

.weather-forecast p {
    margin: 0;
}

.weather-forecast ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}

.weather-forecast ul li {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    text-align: center;
}

.weather-forecast__period {
    padding: 20px 30px;
    text-align: center;
}

.weather-forecast__period__name {
    font-size: 1.5rem;
}

.weather-forecast__period:first-of-type .weather-forecast__period__name {
    font-weight: 700;
}

.weather-forecast__period__icon {
    margin-inline: auto;
    height: 3.75rem;
    width: auto;
}

.weather-forecast__period__temperature {
    font-size: 1rem;
}

.weather-forecast__period__temperature
+ .weather-forecast__period__temperature {
    margin-left: 5px;
}
